<!DOCTYPE html>
<html>
  <head>
    <title>"Lite" Cycles</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= tag.link rel: "stylesheet", href: "https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" %>

  </head>
  <body class="bg-black text-pink-500 font-arcade">
        <!-- sign in or log out, depending on the context, should be always available -->
    <p class='m-5 text-gray-500'>log out</p>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
       </body>
</html>
